#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-color: #d1aeae; /* Light gray */
  margin: 0;
  padding: 20px;
}

/* Style the main container */
h1 {
  color: #333;
  text-align: center;
}

/* Add container styles */
.product-list {
  background-color: #f7f1f1;
  border-radius: 8px;
  padding: 30px;
  margin: 20px auto; /* Center horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%; /* Increase width */
  max-width: 1000px;
}

.product-list h2 {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.add-product-container {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-btn {
  background-color: #f76969;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #cc0000;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.product-name {
  text-align: center;
  margin-bottom: 10px;
}

.product-price {
  text-align: center;
  font-weight: bold;
  color: #333;
}

.product-description {
  text-align: center;
  color: #666;
}

.product-info {
  width: 100%;
  padding: 10px;
}

